.add-item {
  padding: 10px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  &:not(:last-child) {
    border-bottom: none;
  }
}

.add-item__name {
  display: block;
  font-family: $font-oswald;
  color: #222222;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  margin: 0;
  margin-bottom: 14px;
}

.add-item__feature {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  font-family: $font-arial;
  color: $font-grey;
  font-size: 14px;

  p {
    margin: 0;
  }
}

.add-item__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .add-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid $border-color;
    padding: 28px 37px;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .add-item__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .add-item__button {
    width: 633px;
  }

  .add-item__feature {
    display: flex;
    justify-content: space-between;

    p:first-child {
      margin-right: 52px;
    }
  }
}


@media (min-width: $desktop-width) {
  .add-item {
    border-right: none;
    border-left: none;
    padding: 16px 0;

    &:first-child {
      border-top: none;
    }
  }

  .add-item__button {
    width: 100%;
  }

  .add-item__feature {
    margin-right: 39px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .add-item__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    width: auto;

    p {
      margin: 0;
    }
  }

  .add-item__name {
    font-size: 20px;
    line-height: 20px;
  }
}
