.add-item {
  padding: 10px 20px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.add-item__name {
  font-family: $font-oswald;
  color: #222222;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  margin-bottom: 14px;
}

.add-item__feature {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  font-family: $font-arial;
  color: $font-grey;
  font-size: 14px;

  p {
    margin: 0;
  }
}

.add-item__action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 289px;
  padding: 43px 60px;
  margin: 20px auto;
  background: no-repeat center url("../img/gift-photo-mobile@1x.jpg") #70b447;
}

.add-item__buy-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 16px;
  border: none;
  background: none;

  &::before {
    content: "";
    display: block;
    width: 56px;
    height: 61px;
    margin-bottom: 55px;
    background-image: url("../img/gift.png");
    background-repeat: no-repeat;
  }
}

.add-item__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .add-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid $border-color;
    padding: 28px 37px;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .add-item__button {
    width: 633px;
  }

  .add-item__feature {
    display: flex;
    justify-content: space-between;

    p:first-child {
      margin-right: 52px;
    }
  }

  .add-item__action {
    flex-direction: row;
    width: 708px;
    height: 200px;
    padding: 43px 0;
    background: no-repeat center url("../img/gift-photo-tablet@1x.jpg") #70b447;
  }

  .add-item__buy-all {
    flex-direction: row;
    width: 100%;
    align-items: center;
    text-align: left;
    position: relative;
    margin-left: 387px;
    margin-right: 125px;

    &::before {
      position: absolute;
      right: 430px;
    }
  }
}

@media (min-width: $desktop-width) {
  .add-item {
    border-right: none;
    border-left: none;
    padding: 16px 0;

    &:first-child {
      border-top: none;
    }
  }

  .add-item__action {
    flex-direction: row;
    width: 245px;
    height: 289px;
    padding: 0 30px;
    margin: 0;
    margin-left: 80px;
    background: no-repeat center url("../img/gift-photo-desktop@1x.jpg") #70b447;
  }

  .add-item__buy-all {
    margin: 0;
    margin-top: auto;
    margin-bottom: 43px;

    text-align: center;

    &::before {
      right: 56px;
      bottom: 70px;
    }
  }

  .add-item__button {
    width: 100%;
  }

  .add-item__feature {
    margin-right: 39px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .add-item__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    p {
      margin: 0;
    }
  }

  .add-item__name {
    font-size: 20px;
    line-height: 20px;
  }
}
