.catalog {
  width: 320px;
  margin: 0 auto;
  font-family: $font-oswald;
  color: $font-black;
}

.products__list {
  display: flex;
  flex-direction: column;
}

.catalog__title {
  @include title();
}

@media (min-width: $tablet-width) {
  .catalog {
    width: $tablet-width;
  }

  .products__list {
    width: 708px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
