.catalog {
  margin: 0 auto;
  font-family: $font-oswald;
  color: $font-black;
}

.catalog__title {
  @include title();
}

@media (min-width: $tablet-width) {
  .catalog__title {
    padding-left: 100px;
    margin-top: 83px;
    margin-bottom: 150px;
    font-size: 60px;
    line-height: 60px;
  }
}
