.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 20px;
  padding-bottom: 0;
  font-family: $font-arial;
  font-size: 16px;
  line-height: 16px;
  color: $font-grey;
}

.copyright__developer {
  margin: 0;
}

.copyright__logo {
  width: 27px;
  height: 34px;
  object-fit: contain;
}

.copyright__logo-icon {
  fill: $icon-color;
  margin-left: auto;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;

  &:hover {
    color: $font-grey;

    .copyright__logo-icon {
      fill: $base-color;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;

    p {
      display: inline-block;
      margin-right: 23px;
    }
  }

  .copyright__logo {
    display: inline-block;
    width: 27px;
    height: 34px;
    line-height: 48px;
    vertical-align: middle;
  }
}
