.example {
  width: 320px;
  margin: 0 auto;
  padding: 33px 20px;
  font-family: $font-arial;
  color: $font-grey;
  font-size: 14px;
  line-height: 18px;
  background-color: $background-color;
}

.example__title {
  @include title();
}

.data-type {
  font-family: $font-oswald;
  color: $font-black;
  font-size: 24px;
  line-height: 24px;
}

.data__description {
  font-size: 12px;
}

.stat__total {
  color: $font-black;
  text-transform: uppercase;
}
