.example {
  display: flex;
  flex-direction: column;
  font-family: $font-arial;
  color: $font-grey;
  font-size: 14px;
  line-height: 18px;
  background-color: $background-color;
}

.example__title {
  @include title();
  margin: 20px 0;
}

.example__description {
  font-size: 14px;
  font-family: $font-arial;
  color: $font-grey;
  text-align: left;
}

.stat__data {
  text-align: center;
  width: 124px;
  padding: 17px 21px;
  position: relative;

  &::before {
    position: absolute;
    top: 10px;
    left: -2px;
    content: "";
    width: 124px;
    height: 56px;
    background-color: transparent;
    border: 1px solid $border-color;
    // border-bottom: none;
    border-radius: 3px;
  }
}

.data__type {
  font-family: $font-oswald;
  color: $font-black;
  font-size: 24px;
  line-height: 24px;
  margin-top: 2px;
  margin-bottom: -4px;
}

.data__description {
  font-size: 12px;
  // &::before,
  // &::after {
  //   content: "";
  //   display: inline-block;
  //   width: 18px;
  //   height: 1px;
  //   background-color: $border-color;
  // }
}

.stat__total {
  color: $font-black;
  text-transform: uppercase;
}

.example__stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: #ffffff;
  }

  .example__stat {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .example__slider {
    background-color: $background-color;
    text-align: center;
  }
}

@media (min-width: $desctop-width) {
  .example {
    flex-direction: row;
    padding: 0;
    background-color: $background-color;
  }


  .example__block {
    display: flex;
    justify-content: space-between;
  }

  .example__slider {
    width: 70%;
    margin-top: -180px;
    background-color: transparent;
  }

  .example__wrap {
    width: 40%;
  }

  .example__title {
    margin-top: -100px;
    margin-bottom: 60px;
  }
}
