.features__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  font-family: $font-arial;
  font-size: 14px;
  font-weight: normal;
  color: $font-grey;
}

.features__title {
  display: flex;
  align-items: center;
  font-family: $font-oswald;
  font-weight: normal;
  font-size: 24px;
  color: $font-black;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  margin-left: 72px;
  margin-bottom: 36px;
}

.features__block {
  padding-top: 39px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: $background-color;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 29px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: $base-color;
    border-radius: 50%;
  }

  &::after {
    content: "";
    display: block;
    width: 67px;
    height: 49px;
    background-image: url("../img/svg/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    top: 27px;
    left: 28px;
    z-index: 1;
  }

  &--mass-gain::after {
    left: 9px;
    top: 39px;
    width: 70px;
    height: 27px;
    background-image: url("../img/svg/icon-cat-pro.svg");
    background-position: center;
  }

  &--fat-burn {
    margin-bottom: 20px;
  }
}

.features__description {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 23px;
  border-bottom: 1px solid $border-color;
}

.features__button {
  display: flex;
  align-items: center;
  font-family: $font-oswald;
  color: $font-black;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    display: block;
    width: 40px;
    height: 12px;
    margin-left: 24px;
    background-image: url("../img/svg/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    &::after {
      width: 34px;
      background-image: url("../img/svg/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .features__title {
    margin: 0;
    margin-bottom: 29px;
    font-size: 36px;
    line-height: 37px;
  }

  .features__description {
    width: 384px;
    font-size: 16px;
    border-bottom: none;
  }

  .features__button {
    font-size: 20px;
  }

  .features__block {
    padding-top: 70px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 55px;

    &::before {
      width: 200px;
      height: 200px;
      right: 30px;
      top: 62px;
    }

    &::after {
      width: 141px;
      height: 194px;
      top: 52px;
      left: 534px;
    }

    &--mass-gain {
      &::after {
        left: 418px;
        top: 106px;
        width: 268px;
        height: 113px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    margin-bottom: 65px;
  }

  .features__container {
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }

  .features__block {
    margin: 0;

    &::before {
      width: 100px;
      height: 100px;
      top: 28px;
      left: 55px;
    }

    &::after {
      top: 29px;
      left: 76px;
      width: 71px;
      height: 97px;
    }

    &--mass-gain {
      &::after {
        top: 52px;
        left: 40px;
        width: 134px;
        height: 57px;
      }
    }
  }

  .features__description {
    width: 462px;
  }

  .features__title {
    margin-left: 150px;
  }
}
