.features {
  display: flex;
  flex-direction: column;
  font-family: $font-arial;
  font-size: 14px;
  font-weight: normal;
  color: $font-grey;
  margin: 0 auto;
}

.features__title {
  display: flex;
  align-items: center;
  font-family: $font-oswald;
  font-weight: normal;
  font-size: 24px;
  color: $font-black;
  text-transform: uppercase;
  position: relative;


  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 20px;

    background-color: $base-color;
    border-radius: 50%;
  }

  &::after {
    content: "";
    display: block;
    width: 67px;
    height: 49px;
    background-image: url(../img/icon-cat-slim.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: auto;
    position: absolute;
    z-index: 1;
  }

  &--mass-gain::after {
    left: -10px;
    width: 70px;
    height: 27px;
    background-image: url("../img/icon-cat-pro.svg");
    background-position: center;
  }
}

.features__block {
  padding: 0 20px;
  padding-bottom: 22px;
  background-color: $background-color;

  &--fat-burn {
    margin-top: 22px;
    margin-bottom: 20px;
  }
}

.features__button {
  color: $font-black;
  font-size: 16px;
  text-transform: uppercase;

  &::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 12px;
    line-height: 16px;
    vertical-align: middle;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-position: 10px center;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .features__title {
    margin: 0;
    margin-bottom: 29px;
    font-size: 36px;
    line-height: 37px;

    &::before,
    &::after {
      display: none;
    }
  }

  .features__description {
    font-size: 16px;
  }

  .features__button {
    font-size: 20px;

    &::after {
      background-position: 10px -1px;
    }
  }

  .features__block {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 55px;

    div {
      width: 340px;
    }

    &::after {
      content: "";
      display: block;
      width: 200px;
      height: 200px;
      margin-left: 20px;

      background-color: $base-color;
      border-radius: 50%;
    }

    &::before {
      position: absolute;
      right: 92px;
      top: 82px;
      content: "";
      display: block;
      width: 141px;
      height: 194px;
      background-image: url(../img/icon-cat-slim.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
      z-index: 1;
    }

    &--mass-gain::before {
      width: 268px;
      height: 113px;
      right: 27px;
      top: 137px;
      background-image: url("../img/icon-cat-pro.svg");
      background-position: center;
    }
  }
}

@media (min-width: $desctop-width) {
  .features {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .features__block {
    margin: 0;
    padding-right: 0;

    div {
      width: 490px;
    }

    &::before,
    &::after {
      display: none;
    }
  }

  .features__title::before,
  .features__title::after {
    display: block;
  }

  .features__title::before {
    width: 100px;
    height: 100px;
    margin-right: 64px;
  }

  .features__title--fat-burn::after {
    left: 16px;
    width: 71px;
    height: 97px;
    background-position: center;
  }

  .features__title--mass-gain::after {
    left: -16px;
    width: 134px;
    height: 57px;
  }
}
