.features {
  display: flex;
  flex-direction: column;
  font-family: $font-arial;
  font-size: 14px;
  font-weight: normal;
  color: $font-grey;
  width: 320px;
  margin: 0 auto;
}

.features__title {
  font-family: $font-oswald;
  font-weight: normal;
  font-size: 24px;
  color: $font-black;
  text-transform: uppercase;
}

.features__block {
  padding: 22px 20px;
  margin: 20px;
  background-color: $background-color;
}

.features__button {
  color: $font-black;
  font-size: 16px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .features {
    width: $tablet-width;
  }
}
