.footer {
  margin: 0 auto;
  font-family: $font-arial;
  color: $font-grey;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.footer__contacts-invitation {
  font-family: $font-oswald;
  font-size: 16px;
  color: $font-black;
  text-transform: uppercase;
}

.footer__wrapper {
  padding: 40px 30px;
  background-color: $background-color;
}

.footer__contacts {
  background-color: $background-color;

  &--index {
    background-color: #ffffff;
  }
}

.footer__contacts-block {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 25px 20px;
}

.footer__logo {
  margin-top: 39px;
  margin-bottom: 31px;
}

.footer__map {
  height: 400px;
  margin-top: -30px;
  background: no-repeat center url("../img/bg-map-mobile@1x.png") $background-color;
}

.footer__container {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .footer {
    width: 100%;
    position: relative;
  }

  .footer__contacts {
    padding: 69px 0;
    margin: 0 auto;
  }

  .footer__contacts-invitation {
    max-width: 200px;
    text-align: left;
    font-size: 20px;
    line-height: 25px;
  }

  .footer__contacts-address {
    max-width: 200px;
    font-size: 16px;
    text-align: right;
  }

  .footer__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__map {
    background: no-repeat center url("../img/bg-map-tablet@1x.png") $background-color;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: 100%;
    position: relative;
  }

  .footer__contacts {
    position: absolute;
    top: 95px;
    width: 570px;
    height: 201px;
    padding: 35px 40px;
    background-color: #ffffff;
  }

  .footer__map {
    margin-top: 0;
    background: no-repeat center url("../img/bg-map-desktop@1x.png") $background-color;
  }
}
