.footer {
  margin: 0 auto;
  font-family: $font-arial;
  color: $font-grey;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.footer__contacts-invitation {
  font-family: $font-oswald;
  font-size: 16px;
  color: $font-black;
  text-transform: uppercase;
  margin: 0;
  max-width: 125px;
  margin-right: 29px;
}

.footer__contacts-address {
  margin: 0;

  p {
    margin: 0;
  }
}

.footer__wrapper {
  padding: 53px 0;
  background-color: $background-color;
}

.footer__container {
  position: relative;
  padding: 0;
}

.footer__contacts {
  background-color: $background-color;

  &--index {
    background-color: #ffffff;
  }
}

.footer__contacts-block {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding-top: 26px;
  padding-bottom: 26px;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__map {
  height: 344px;
  margin: 0 auto;
  background: no-repeat center url("../img/bg-map-mobile@1x.png") $background-color;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: 320px auto;
  }
}


@media (min-width: $tablet-width) {
  .footer {
    width: 100%;
    position: relative;
  }

  .footer__contacts-invitation {
    max-width: 200px;
    text-align: left;
    font-size: 20px;
    line-height: 25px;
  }

  .footer__contacts-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 190px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .footer__contacts-block {
    margin: 0 auto;
    padding-top: 63px;
    padding-bottom: 61px;
    padding-right: 46px;
    padding-left: 41px;
  }

  .footer__container {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .footer__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__map {
    height: 400px;
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
      background-size: 767px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: 100%;
    position: relative;
  }


  .footer__contacts-block {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    width: 570px;
    height: 201px;
    align-items: center;
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ffffff;
  }

  .footer__map {
    background: no-repeat center url("../img/bg-map-desktop@1x.png") $background-color;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
      background-size: 1440px auto;
    }
  }
}
