.footer {
  margin: 0 auto;
  font-family: $font-arial;
  color: $font-grey;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.footer__contacts-invitation {
  font-family: $font-oswald;
  font-size: 16px;
  color: $font-black;
  text-transform: uppercase;
}

.footer__wrapper {
  padding: 40px 30px;
  background-color: $background-color;
}

.footer__contacts {
  position: relative;
  height: 472px;
  padding-top: 31px;
  padding-right: 20px;
  padding-bottom: 26px;
  padding-left: 20px;
  background-color: $background-color;

  &--index {
    background-color: #ffffff;
  }
}

.footer__contacts-block {
  display: flex;
  justify-content: space-between;
  text-align: left;

  p {
    margin: 0;
  }
}

.footer__logo {
  margin-bottom: 31px;
}

.footer__map {
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  height: 347px;
  background: no-repeat center url("../img/bg-map-mobile@1x.png") $background-color;
}


@media (min-width: $tablet-width) {
  .footer {
    width: 100%;
    position: relative;
  }

  .footer__contacts {
    padding: 69px 0;
    margin: 0 auto;
    height: 597px;
  }

  .footer__contacts-invitation {
    max-width: 200px;
    text-align: left;
    font-size: 20px;
    line-height: 25px;
  }

  .footer__contacts-address {
    max-width: 200px;
    font-size: 16px;
    text-align: right;
  }

  .footer__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__map {
    top: 200px;
    width: 100%;
    height: 400px;
    background: no-repeat center url("../img/bg-map-tablet@1x.png") $background-color;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: 100%;
    position: relative;
  }

  .footer__contacts {
    position: relative;
    width: 570px;
    height: 201px;
    padding: 35px 40px;
    margin-left: 80px;
    margin-top: 100px;
    background-color: #ffffff;
  }

  .footer__contacts-block {
    width: 460px;
    align-items: center;
    padding-top: 25px;

    p:first-child {
      margin-right: 54px;
    }
  }

  .footer__wrapper {
    margin-top: 96px;
  }

  .footer__map {
    width: 1440px;
    top: -100px;
    left: 640px;
    z-index: -1;
    background: no-repeat center url("../img/bg-map-desktop@1x.png") $background-color;
  }
}
