.form-page {
  font-family: $font-oswald;
  color: $black-two;
  text-transform: uppercase;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  label {
    font-size: 16px;
    color: $black-two;
    position: relative;
  }

  legend {
    font-size: 24px;
    color: $font-black;
    text-transform: none;
    margin-left: 10px;
    margin-bottom: 30px;
  }

  fieldset {
    margin-bottom: 30px;
    border: none;
    padding: 0;
  }

  .form__goal {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  p {
    margin-bottom: 14px;
    position: relative;
    padding: 0 20px;
  }
}

input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  line-height: 40px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid $border-color;
}

input[type="radio"]:checked + label::after {
  position: absolute;
  bottom: 11px;
  left: 11px;
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $base-color;
}

.form__goal label {
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  line-height: 30px;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid $border-color;
}

input[type="checkbox"]:checked + label::after {
  position: absolute;
  top: 8px;
  left: 5px;
  content: "";
  width: 22px;
  height: 17px;
  background-image: url("../img/tick.png");
}

.tell-more__item label {
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}

.form-page__title {
  @include title();
  text-transform: none;
  margin-left: 20px;
}

.form-page__description {
  font-size: 14px;
  color: $font-black;
  margin-left: 20px;
  margin-bottom: 35px;
}

.form__notice {
  font-size: 14px;
  color: $font-grey;
  text-align: center;
  text-transform: none;
}

.cat-info,
.form__contacts {
  p {
    display: flex;
    justify-content: space-between;
  }

  input {
    flex-grow: 1;
    width: 172px;
    padding: 15px 16px;
    margin-left: 9px;
    border: 1px solid $border-color;

    &::placeholder {
      @include placeholder;
    }
  }

  label {
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
  }
}

.comments__field {
  min-width: 280px;
  margin-left: 10px;
  border: 1px solid $border-color;

  &::placeholder {
    @include placeholder;
    border: none;
    text-align: left;
  }
}

.form__submit {
  margin: 0 auto;
}

.form__contacts-data {
  &::after {
    position: absolute;
    right: 30px;
    top: 15px;
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-image: url("../img/mail.png");
    background-repeat: no-repeat;
  }

  &--phone::after {
    top: 11px;
    right: 26px;
    width: 21px;
    height: 21px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
  }
}

.form__contacts-title {
  &::after {
    content: "";
    display: inline-block;
    width: 99px;
    height: 3px;
    margin-left: 51px;
    margin-top: -53px;
    line-height: 24px;
    vertical-align: middle;
    background-color: $base-color;
  }
}

.comments__title {
  &::after {
    content: "";
    display: inline-block;
    width: 158px;
    height: 3px;
    margin-left: 25px;
    line-height: 24px;
    vertical-align: middle;
    background-color: $base-color;
  }
}

.tell-more__title {
  &::after {
    content: "";
    display: inline-block;
    width: 136px;
    height: 3px;
    margin-left: 27px;
    line-height: 24px;
    vertical-align: middle;
    background-color: $base-color;
  }
}

@media (min-width: $tablet-width) {
  .form {
    .form__goal {
      padding-left: 28px;
      border: 1px solid $border-color;
    }

    p {
      padding: 0;
    }
  }

  .form-page__container {
    padding: 0;
  }

  .form__about,
  .form__contacts-block,
  .comments__block,
  .tell-more__block {
    padding: 0 72px;
  }

  .form-page__title {
    margin-left: 32px;
  }

  .form-page__description {
    margin-left: 70px;
    width: 270px;
  }

  .tell-more__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .tell-more__item {
    width: 50%;
  }

  .comments__field {
    width: 630px;
    margin-left: 0;
    border: 1px solid $border-color;
  }

  .form__submit {
    display: flex;
    justify-content: flex-start;
    margin-left: 70px;
  }

  .form__button {
    margin-left: 0;
    margin-right: 61px;
  }

  .form__contacts-title {
    br {
      display: none;
    }

    &::after {
      width: 334px;
      height: 3px;
      margin-top: 0;
      margin-left: 25px;
    }
  }

  .comments__title {
    &::after {
      width: 560px;
    }
  }

  .tell-more__title {
    &::after {
      width: 533px;
    }
  }

  .form__contacts-title,
  .comments__title,
  .tell-more__title {
    &::before {
      content: "";
      display: inline-block;
      width: 28px;
      height: 3px;
      margin-right: 25px;
      line-height: 36px;
      vertical-align: middle;
      background-color: $base-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 1220px;
    margin: 0 auto;
  }

  .form__about {
    display: flex;
    justify-content: space-between;
  }

  .form__contacts-block {
    display: flex;
    justify-content: space-between;
  }

  .comments__field {
    max-width: 300px;
  }

  .tell-more__item {
    width: auto;
  }

  .form__button {
    width: 568px;
  }
}
