.header {
  border-bottom: 1px solid $border-color;
}

.head-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header__container {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: none;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
  }

  .head-wrapper {
    padding: 0;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .header__container {
    min-width: 1220px;
    margin: 0 auto;
    margin-top: 60px;
  }

  .header__index {
    &--background::after {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      content: "";
      display: block;
      width: 50%;
      height: 696px;
      background: no-repeat center right url("../img/index-background-desktop@1x.jpg") #65a93c;

      // content: "";
      // position: absolute;
      // top: 0;
      // right: 0;
      // bottom: 0;
      // width: calc(100% / 2 - 40px);
      // z-index: -1;
      // background-color: #65a93c;
      // background-image: url("../img/index-background-desktop@1x.jpg");
      // background-size: 680px auto;
      // background-repeat: no-repeat;
      // background-position: right bottom;
    }
  }
}
