.item {
  padding: 0 18px;
  padding-bottom: 21px;
  font-family: $font-arial;
  color: $font-grey;
  font-size: 12px;
  line-height: 16px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;

  &:not(:last-child) {
    border-bottom: none;
  }

  &--show-more {
    position: relative;
    padding-top: 20px;
    text-align: center;

    p {
      display: block;
      text-align: center;
      margin: 0;
    }

    .item__image {
      display: block;
      width: 31px;
      height: 31px;
      margin: 0 auto;
      margin-bottom: 25px;
      background-image: url("../img/icon-plus-mobile.svg");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.2;
    }

    .item-features__name {
      width: auto;
      margin-bottom: 4px;
    }

    .item-features__data {
      margin-bottom: 22px;
    }
  }
}

.item-features__name {
  display: block;
  width: 100px;
  margin: 0;
  margin-bottom: 12px;
  font-family: $font-oswald;
  color: $font-black;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
}

.item__info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item__table {
  flex-grow: 1;
}

.item-features__data {
  display: flex;
  justify-content: space-between;

  p {
    margin: 0;
  }
}

.item__button {
  width: 100%;
}

.item__image {
  display: block;
  text-decoration: none;
}

.item__image-products {
  width: 140px;
  height: auto;
}

@media (min-width: $tablet-width) {
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 324px;
    min-height: 477px;
    padding: 0 38px;
    padding-bottom: 38px;
    margin-right: 40px;
    margin-bottom: 60px;
    text-align: center;
    background: linear-gradient(#ffffff 17%, $background-color 17%);
    border: none;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }

    &--show-more {
      min-height: 415px;
      margin-top: auto;
      background: #ffffff;
      border: 1px solid $border-color;

      .item__image {
        width: 61px;
        min-height: 61px;
        background-image: url("../img/icon-plus.svg");
      }

      p {
        border-bottom: none;
      }

      .item-features__name {
        padding: 0 40px;
        margin-bottom: 28px;
      }

      .item-features__data {
        padding: 0 20px;
      }

      .item__image-wrapper {
        height: 111px;
        margin-top: 38px;
      }
    }
  }

  .item__action {
    margin-top: auto;
  }

  .item__button {
    width: 249px;
  }

  .item__info {
    flex-direction: column;
    margin-bottom: 31px;
  }

  .item__image {
    width: 150%;
    min-height: 210px;
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
  }

  .item__image-products {
    width: 324px;
  }

  .item__image-wrapper {
    margin-top: auto;
  }

  .item-features__name {
    width: 155px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 18px;
  }

  .item-features__data {
    width: 250px;
    padding: 8px 0;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid $border-color;
  }
}

@media (min-width: $desktop-width) {
  .item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  .item {
    width: 245px;
    background: linear-gradient(#ffffff 15%, $background-color 15%);
    margin-bottom: 74px;

    &:nth-child(2n) {
      margin-right: 40px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }

    &--show-more {
      min-height: 425px;
      background: #ffffff;

      p {
        padding: 0;
      }

      .item-features__name {
        margin-bottom: 30px;
        width: 250px;
      }

      .item__image-wrapper {
        margin-top: 41px;
        height: 108px;
      }

      .item-features__data {
        width: 250px;
      }
    }
  }

  .item__image {
    margin-bottom: 37px;
  }

  .item__image-products {
    width: 245px;
  }

  .item-features__data {
    width: 170px;
  }

  .item-features__name {
    margin-bottom: 14px;
  }

  .item__button {
    width: 169px;

    &--plus {
      width: 169px;
    }
  }
}
