.logo__image {
  display: inline-block;
  line-height: 41px;
  vertical-align: middle;
}

.logo {
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
