.menu {
  @include font-medium();
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;

  @include list-reset();
  width: 320px;
  margin: 0 auto;
}

.menu__item {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  width: 320px;
  padding: 20px 0;
  margin: 0;
  border: 1px solid #ededed;

  a {
    color: $font-black;
    text-decoration: none;

    &:hover,
    &:focus {
      color: rgba(17, 17, 17, 0.6);
    }

    &:active {
      color: rgba(17, 17, 17, 0.3);
    }
  }

  &--active {
    border-bottom: 2px solid #68b738;
  }
}

.menu-button {
  display: inline-block;
  width: 25px;
  height: 46px;
  vertical-align: middle;
  border: none;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

  &--open {
    width: 19px;
    height: 46px;
    background-image: url("../img/icon-close.svg");
  }
}
