.other__title {
  padding-left: 20px;
  font-family: $font-oswald;
  font-size: 24px;
  line-height: 24px;
  color: $font-black;
  font-weight: normal;
  margin-bottom: 30px;
}

.other__container {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .other__title {
    margin-bottom: 75px;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      line-height: 36px;
      vertical-align: middle;
      width: 20px;
      height: 3px;
      background-color: $base-color;
    }

    &::after {
      width: 350px;
    }
  }

  .other__container {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .other__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .other__title {
    font-size: 36px;
  }
}
