.other {
  overflow-x: hidden;
}

.other__title {
  margin-bottom: 30px;
  font-family: $font-oswald;
  font-size: 24px;
  line-height: 24px;
  color: $font-black;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .other__title {
    margin-bottom: 75px;
    padding-left: 0;
    font-size: 36px;
  }
}

@media (min-width: $desktop-width) {
  .other {
    margin-bottom: 86px;
  }
}
