.process {
  font-family: $font-arial;
  color: $font-grey;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 20px;
}

.process__list {
  @include list-reset();
  display: flex;
  flex-direction: column;
  margin: 0;
}

.process__title {
  @include title();
  margin: 0;
  margin-bottom: 30px;
}

.process__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  p {
    flex-shrink: 5;
    margin: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 67px;
    height: 60px;
    margin-right: 20px;
    background-color: $base-color;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--step1::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 49px auto;
    }
  }

  &--step2::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 49px auto;
    }
  }

  &--step3::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 49px auto;
    }
  }

  &--step4::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 49px auto;
    }
  }
}

@media (min-width: $tablet-width) {
  .process {
    margin: 0 auto;
    border-bottom: 1px solid $border-color;
    margin-bottom: 25px;
  }

  .process__title {
    margin-bottom: 74px;
    font-size: 60px;
  }

  .process__list {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 101px;
  }

  .process__item {
    position: relative;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 137px;
    font-size: 16px;
    line-height: 24px;

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }

    &::before {
      width: 80px;
      height: 80px;
      margin-bottom: 30px;
    }

    &--step1,
    &--step3 {
      margin-right: 133px;
    }

    &::after {
      position: absolute;
      z-index: -1;
      top: -40px;
      left: 116px;

      content: "1";

      font-size: 281px;
      line-height: 281px;
      font-family: $font-oswald;
      color: $background-color;
    }

    &--step2::after {
      content: "2";
    }

    &--step3 {
      margin-bottom: 55px;

      &::after {
        content: "3";
      }
    }

    &--step4 {
      margin-bottom: 55px;

      &::after {
        content: "4";
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .process__item {
    width: 200px;
    padding: 0;
    margin-right: 121px;

    &:last-child {
      margin-right: 0;
    }
  }

  .process {
    margin-bottom: 120px;
    border-bottom: none;
  }

  .process__title {
    margin-bottom: 60px;
  }
}
