.process {
  font-family: $font-arial;
  color: $font-grey;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}
.process__list {
  list-style: none;
}
.process__title {
  @include title ();
  margin: 32px 22px;
}
.process__item {
  margin: 20px;
}
