.products__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .products__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .products__list {
    margin-bottom: 89px;
  }
}
