.promo {
  color: #ffffff;
  font-family: $font-oswald;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 240px;
  background: no-repeat center url("../img/index-background-mobile@1x.jpg") #63a736;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px 305px;
  }
}


.promo__block {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  height: 305px;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 19px;
}

.promo__description {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.promo__button {
  order: 1;
  display: block;
  text-decoration: none;
}

.promo__image {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .promo {
    background: none;
    margin-bottom: 0;
  }

  .promo__block {
    min-height: 790px;
    padding-left: 120px;
    background-image: none;
    background-color: transparent;
    text-align: left;
  }

  .promo__title {
    margin-right: 190px;

    @include title();
    font-size: 60px;
  }

  .promo__description {
    color: $font-black;
    text-transform: uppercase;
  }

  .promo__button {
    width: 245px;
    order: 0;
  }

  .promo__image-wrapper {
    position: relative;
  }

  .promo__image {
    position: absolute;
    top: -41px;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: $desktop-width) {
  .promo__block {
    display: flex;
    min-height: 532px;
    margin-bottom: 80px;
    margin-left: auto;
  }

  .promo__title {
    width: 440px;
  }

  .promo__image {
    top: -321px;
  }
}
