.slider__toggle {
  font-family: $font-oswald;
  font-size: 16px;
  color: $font-black;
  text-transform: uppercase;
}

.slider__image {
  display: flex;
  position: relative;
  z-index: 5;
}

.slider__slide--slide-1 {
  margin-right: -320px;
}
