.slider__toggle {
  font-family: $font-oswald;
  font-size: 16px;
  color: $font-black;
  text-transform: uppercase;
}

.slider__image {
  display: flex;
  position: relative;
  z-index: 5;

  margin-bottom: 35px;
}

.slider__slide {
  margin: 0 auto;
}

.slider__slide--slide-2 {
  display: none;
}

@media (min-width: $tablet-width) {
  .slider {
    position: relative;
    width: 768px;
    margin: 0 auto;
  }

  .slider__image {
    width: 100%;
    margin-bottom: 0;
  }

  .slider__slide {
    height: 570px;
    overflow: hidden;

    &--slide-1 {
      padding-left: 10px;
      background: linear-gradient(#ffffff 30%, $background-color 30%);
    }

    &--slide-2 {
      display: block;
      position: absolute;
      top: 0;
      z-index: 2;
      width: 100%;
      left: 50%;
      background: linear-gradient(#ffffff 30%, $cats-background 30%);
    }
  }

  .slider__slide-image--after {
    position: absolute;
    right: 56%;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    width: 70%;
    margin-top: -88px;
    background-color: transparent;
  }

  .slider__slide {
    height: 700px;

    &--slide-1 {
      padding-left: 0;
    }

    &--slide-2 {
      left: 53%;
    }
  }

  .slider__slide-image--after {
    right: 60%;
  }
}
