.social {
  list-style: none;
}

.social__link {
  display: inline-block;
  object-fit: contain;

  &--vk {
    width: 22px;
    height: 12px;
  }

  &--insta {
    width: 17px;
    height: 17px;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }

  path {
    fill: $icon-color;
  }
}
