
.stat__data {
  text-align: center;
  width: 45%;
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 0;
  position: relative;

  &::before {
    position: absolute;
    top: 10px;
    left: -2px;
    content: "";
    width: 103%;
    height: 57px;
    background-color: transparent;
    border: 1px solid $border-color;
    border-radius: 3px;
  }

  &--total-weight {
    margin-right: 40px;
  }
}

.stat__data-type {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 12px;
  font-family: $font-oswald;
  color: $font-black;
  font-size: 24px;
  line-height: 24px;
}

.stat__data-description {
  width: 100%;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  background-color: $background-color;
}

.stat__total-description {
  margin: 0;
  color: $font-black;
  font-family: $font-oswald;
  text-transform: uppercase;
}

.stat__total {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.stat__table {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .stat__table {
    display: flex;
    justify-content: space-between;

    width: 50%;
  }

  .stat__data {
    &::before {
      height: 72px;
    }

    &--days {
      &::before {
        left: 10px;
      }
    }
  }

  .stat__total {
    flex-direction: column;
    margin: 0;
    margin-left: auto;
    padding: 20px 0;
  }

  .stat__total-description {
    font-size: 20px;
    line-height: 20px;
  }

  .stat__data-type {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 37px;

    &--days {
      padding-left: 20px;
    }
  }

  .stat__data-description {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;

    &--time {
      width: 120%;
    }
  }
}

@media (min-width: $desktop-width) {
  .stat__table {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 45px;
  }

  .stat__total {
    flex-direction: row;
    width: 85%;
    margin: 0;
  }

  .stat__data-description {
    background-color: $background-color;

    &--time {
      width: 100%;
    }
  }

  .stat__data {
    &--days {
      &::before {
        left: 3px;
      }
    }
  }

  .stat__data-type {
    &--days {
      padding-left: 0;
    }
  }
}
