.title-line {
  position: relative;
  display: block;
  padding: 0 25px;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: -5px;
    left: 415px;
    width: 100vw;
    height: 3px;
    margin-top: calc(1em / 2 + 3px);
    background-color: #68b738;
  }

  &--contacts,
  &--comments,
  &--additional {
    &::after {
      top: -2px;
    }
  }

  &--comments {
    &::after {
      left: 190px;
    }
  }

  &--additional {
    &::after {
      left: 211px;
    }
  }
}

@media (min-width: $tablet-width) {
  .title-line {
    padding: 0;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: -5px;
      right: 118%;
      width: 100vw;
      height: 3px;
      margin-top: calc(1em / 2 + 3px);
      background-color: #68b738;
      z-index: -1;
    }

    &--contacts::before {
      top: -2px;
      right: 118%;
    }

    &--comments::before {
      top: -2px;
      right: 152%;
    }

    &--additional::before {
      top: -2px;
      right: 150%;
    }
  }
}
