.toggle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  font-family: $font-oswald;
  color: $font-black;
  text-transform: uppercase;
  position: relative;
}

.toggle__line {
  position: relative;
  display: block;
  width: 84px;
  height: 14px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid $border-color;
}

.toggle__point {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  &--green {
    display: block;
    width: 67px;
    height: 6px;
    background-color: $base-color;
    border-radius: 3px;
  }
}

.toggle__before-after--before {
  margin-left: 43px;
}

.toggle__before-after--after {
  margin-right: 38px;
}

@media (min-width: $tablet-width) {
  .toggle {
    position: absolute;
    bottom: -40px;
    left: 49%;
    transform: translateX(-54%);
    z-index: 5;
    font-size: 20px;
    line-height: 20px;
  }

  .toggle__line {
    width: 428px;
    height: 6px;
    margin: 0 21px;
    border-radius: 2.5px;
    background-color: #dcdcdc;
    position: relative;
  }

  .toggle__before-after {
    padding-bottom: 6px;
    position: relative;
    z-index: 1;
    margin: 0;
    border-bottom: 1px dotted $toggle-color;
    cursor: pointer;

    &:hover,
    &:active {
      border-bottom: 1px solid $toggle-hover;
    }

    &:active {
      border-bottom: none;
    }
  }

  .toggle__point {
    left: 51%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;

    &--green {
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }

    &:hover,
    &:focus {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid $base-color;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .toggle {
    width: 80%;
    bottom: 87px;
    left: 388px;
  }

  .toggle__after::after {
    top: -73px;
  }

  .toggle__point {
    left: 50%;
  }
}
