.toggle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  font-family: $font-oswald;
  color: $font-black;
  text-transform: uppercase;
  position: relative;
}

.toggle__line {
  display: block;
  width: 84px;
  height: 14px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid $border-color;
  position: relative;

  &::before {
    position: absolute;
    top: 3px;
    left: 4px;

    content: "";
    display: block;
    width: 35px;
    height: 6px;
    background-color: $base-color;
    border-radius: 3px;
  }
}

.toggle__point {
  position: absolute;
}
