$font-oswald: "Oswald", arial, sans-serif;
$font-arial: arial, sans-serif;
$base-color: #68b738;
$font-black: #111111;
$black-two: #222222;
$font-grey: #444444;
$background-color: #f2f2f2;
$icon-color: #666666;
$border-color: #cdcdcd;
